@implements IDisposable
@rendermode InteractiveServer

@inject NavigationManager NavigationManager

<MudAppBar Elevation="1" Dense="true">
    <MudLink Href="/" Underline="Underline.None">
        <MudImage Src="images/logo.png" Alt="NoExp.IT Logo Home" Height="40" ObjectFit="ObjectFit.Contain" Class="mr-3"/>
    </MudLink>
    
    <MudSpacer />
    
    <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
        <MudLink Href="/dashboard" Color="Color.Inherit" Class="mx-2">
            <MudButton Color="Color.Inherit" StartIcon="@Icons.Material.Filled.Dashboard">Dashboard</MudButton>
        </MudLink>
        
        <AuthorizeView Roles="EmployerRole">
            <MudMenu Label="Job Ads" StartIcon="@Icons.Material.Filled.Storage" Color="Color.Inherit" Class="mx-2">
                <MudMenuItem Href="/JobAds/Own" Icon="@Icons.Material.Filled.ViewList">Your Job Ads</MudMenuItem>
                <MudMenuItem Href="/JobAds/Create" Icon="@Icons.Material.Filled.AddCircle">Add JobAd</MudMenuItem>
            </MudMenu>
        </AuthorizeView>
        
        <MudSpacer />
        
        <AuthorizeView>
            <Authorized>
                <MudMenu Label="@context.User.Identity?.Name" StartIcon="@Icons.Material.Filled.Person" Color="Color.Inherit" Class="mx-2">
                    <MudMenuItem Href="Account/Manage" Icon="@Icons.Material.Filled.People">Profile</MudMenuItem>
                    <MudDivider />
                    <MudMenuItem>
                        <form action="Account/Logout" method="post" style="margin:0; padding:0; width:100%;">
                            <AntiforgeryToken/>
                            <input type="hidden" name="ReturnUrl" value="@currentUrl"/>
                            <MudButton ButtonType="ButtonType.Submit" Color="Color.Error" FullWidth="true"
                                       StartIcon="@Icons.Material.Filled.Logout" Style="justify-content: flex-start;">
                                Logout
                            </MudButton>
                        </form>
                    </MudMenuItem>
                </MudMenu>
            </Authorized>
            <NotAuthorized>
                <MudLink Href="Account/Register" Color="Color.Inherit" Class="mx-2">
                    <MudButton Color="Color.Info" StartIcon="@Icons.Material.Filled.PersonAdd">Register</MudButton>
                </MudLink>
                <MudLink Href="Account/Login" Color="Color.Inherit" Class="mx-2">
                    <MudButton Color="Color.Primary" StartIcon="@Icons.Material.Filled.Login">Login</MudButton>
                </MudLink>
            </NotAuthorized>
        </AuthorizeView>
    </MudHidden>
    
    <MudHidden Breakpoint="Breakpoint.MdAndUp">
        <MudMenu Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" AnchorOrigin="Origin.BottomRight" AriaLabel="Navigation menu">
            <MudMenuItem Href="/dashboard" Icon="@Icons.Material.Filled.Dashboard">Dashboard</MudMenuItem>
            
            <AuthorizeView Roles="EmployerRole">
                <MudDivider />
                <MudMenuItem Href="/JobAds/Own" Icon="@Icons.Material.Filled.ViewList">Your Job Ads</MudMenuItem>
                <MudMenuItem Href="/JobAds/Create" Icon="@Icons.Material.Filled.AddCircle">Add JobAd</MudMenuItem>
            </AuthorizeView>
            
            <MudDivider />
            
            <AuthorizeView>
                <Authorized>
                    <MudMenuItem Href="Account/Manage" Icon="@Icons.Material.Filled.People">Profile</MudMenuItem>
                    <MudMenuItem>
                        <form action="Account/Logout" method="post" style="margin:0; padding:0; width:100%;">
                            <AntiforgeryToken/>
                            <input type="hidden" name="ReturnUrl" value="@currentUrl"/>
                            <MudButton ButtonType="ButtonType.Submit" Color="Color.Error" FullWidth="true"
                                       StartIcon="@Icons.Material.Filled.Logout" Style="justify-content: flex-start;">
                                Logout
                            </MudButton>
                        </form>
                    </MudMenuItem>
                </Authorized>
                <NotAuthorized>
                    <MudMenuItem Href="Account/Register" Icon="@Icons.Material.Filled.PersonAdd">Register</MudMenuItem>
                    <MudMenuItem Href="Account/Login" Icon="@Icons.Material.Filled.Login">Login</MudMenuItem>
                </NotAuthorized>
            </AuthorizeView>
        </MudMenu>
    </MudHidden>
</MudAppBar>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

